APP_NAME=PraxisMedia
BASE_URL=https://praxismedia.fr/
REGISTER_ENDPOINT=/wp-json/rsapp/v1/register-token
REGISTER_HEADER=X-RSAPP-KEY
REGISTER_SECRET=change-me-in-build-system
APP_USER_AGENT_TAG=RSAPP/1.0
